!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %script{'data-main' => 'js/bootstrap.js', 'src' => 'js/vendor/require.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'css/style.css'}/
  %body
    %canvas
    .dashboard
      %h1 Game of Life - Powered by WebGL
      %a.hide{:title => 'Toggle Dashboard'}
      %a.button.playToggler.pause{:title => 'Pause'} I I
      %a.button.reset Reset

      .colorPicker
        %h3 Cell:
        %input.cell
      .colorPicker
        %h3 Background:
        %input.background

      .ranger
        %h3 Cellsize:
        .cellSize

      /.ranger
      /  %h3
      /    .alive Live cells
      /    stay
      /    .alive alive
      /    if their neighbor count is within:
      /  .liveCellRule
      /.ranger
      /  %h3
      /    .dead Dead cells
      /    become
      /    .alive alive
      /    if their neighbor count is within:
      /  .deadCellRule
