!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %script{'data-main' => 'js/bootstrap.js', 'src' => 'js/vendor/require.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'css/style.css'}/
  %body
    %canvas
    .dashboard
      %h1 Game of Life - Powered by WebGL
      %a.button.playToggler.pause{:title => 'Pause'} I I
      %a.button.reset Reset

      .colorPicker
        %h3 Cell:
        %input.cell
      .colorPicker
        %h3 Background:
        %input.background

      .ranger
        %h3 Cell Size:
        %select.cellSize

      %br

      .ranger
        %span.alive Live cells
        stay
        %span.alive alive
        if they have between
        %select.liveCellMin
        and
        %select.liveCellMax
        neighbors.

      %br

      .ranger
        %span.dead Dead cells
        become
        %span.alive alive
        if they have between
        %select.deadCellMin
        and
        %select.deadCellMax
        neighbors.
    %a.hide{:title => 'Toggle Dashboard'}
